ul {
  list-style-type: none;
}
.navBar {
  margin-top: 10px;
}
.navBar__list {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navBar__item {
  margin-right: 20px;
}
.navBar__item a {
  padding: 5px 10px;
}
.navItem__active {
  background: #ffc46b;
  border-radius: 25px;                   ;
}
