@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&family=Sansita+Swashed:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #132645;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(246, 231, 185, 1) 0%,
    rgba(242, 196, 225, 1) 100%
  );
}
a {
  text-decoration: none;
  display: block;
  color: #132645;
}
img {
  width: 100%;
  display: block;
}
